NodeRED/XY_Controller.json
[
    {
        "id": "9f34edae0beee83f",
        "type": "tab",
        "label": "Calibration",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "192589d78ea9942d",
        "type": "tab",
        "label": "Control panel",
        "disabled": false,
        "info": ""
    },
    {
        "id": "517dfea4ee1a4558",
        "type": "tab",
        "label": "Gallery",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "757ef19432765cd7",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f44e1b4c62d5bfc2",
        "type": "ui_tab",
        "name": "Farmlab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6be8ec108bd19040",
        "type": "mqtt-broker",
        "name": "Luyts broker",
        "broker": "mqtt.luytsm.be",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "89c55a999ffb7aa6",
        "type": "ui_group",
        "name": "Manueel",
        "tab": "1a75a4cbf354fc3a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a75a4cbf354fc3a",
        "type": "ui_tab",
        "name": "SmartCar Controlepaneel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d9fbf6021876f834",
        "type": "ui_group",
        "name": "Automatisch",
        "tab": "1a75a4cbf354fc3a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25eca3be58b4c427",
        "type": "ui_group",
        "name": "Select",
        "tab": "1a75a4cbf354fc3a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3d8bdf5fc5511bd",
        "type": "ui_group",
        "name": "Calibration",
        "tab": "f44e1b4c62d5bfc2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87da3e5f0e2d01a5",
        "type": "ui_group",
        "name": "Control panel",
        "tab": "f44e1b4c62d5bfc2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4afbfcb07f028df",
        "type": "mqtt-broker",
        "name": "",
        "broker": "188.34.195.229",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "868697591eea6b1f",
        "type": "ui_group",
        "name": "Gallery",
        "tab": "f44e1b4c62d5bfc2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "590281e51a135877",
        "type": "ui_button",
        "z": "9f34edae0beee83f",
        "name": "",
        "group": "f3d8bdf5fc5511bd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Calibration",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "/MCU/ACTIONS",
        "topicType": "str",
        "x": 660,
        "y": 480,
        "wires": [
            [
                "2939b77e27f8900a",
                "73e5aad942faa189"
            ]
        ]
    },
    {
        "id": "e9933a5ad9ee3bb7",
        "type": "ui_text",
        "z": "9f34edae0beee83f",
        "group": "f3d8bdf5fc5511bd",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "Display topic",
        "label": "Status: ",
        "format": "{{msg.status}}",
        "layout": "row-spread",
        "className": "",
        "x": 1050,
        "y": 580,
        "wires": []
    },
    {
        "id": "2939b77e27f8900a",
        "type": "function",
        "z": "9f34edae0beee83f",
        "name": "",
        "func": "if(msg.payload == \"calibration\") {\n    msg.status = \"Calibrating...\";\n}\n\nif(msg.payload == \"done\") {\n    msg.status = \"Done\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 580,
        "wires": [
            [
                "e9933a5ad9ee3bb7"
            ]
        ]
    },
    {
        "id": "f4bdb250ee7f7682",
        "type": "mqtt in",
        "z": "9f34edae0beee83f",
        "name": "",
        "topic": "/MCU/ACTIONS",
        "qos": "2",
        "datatype": "auto",
        "broker": "6be8ec108bd19040",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 660,
        "y": 640,
        "wires": [
            [
                "2939b77e27f8900a"
            ]
        ]
    },
    {
        "id": "73e5aad942faa189",
        "type": "mqtt out",
        "z": "9f34edae0beee83f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6be8ec108bd19040",
        "x": 1010,
        "y": 480,
        "wires": []
    },
    {
        "id": "16332113c7be818f",
        "type": "mqtt out",
        "z": "192589d78ea9942d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6be8ec108bd19040",
        "x": 1330,
        "y": 660,
        "wires": []
    },
    {
        "id": "fd6c1481dca52865",
        "type": "ui_slider",
        "z": "192589d78ea9942d",
        "name": "Speed",
        "label": "Speed:",
        "tooltip": "",
        "group": "87da3e5f0e2d01a5",
        "order": 15,
        "width": "6",
        "height": "2",
        "passthru": true,
        "outs": "end",
        "topic": "VALUE",
        "topicType": "str",
        "min": "1000",
        "max": "80000",
        "step": "500",
        "className": "",
        "x": 850,
        "y": 400,
        "wires": [
            [
                "b02dbb0449de0136"
            ]
        ]
    },
    {
        "id": "b02dbb0449de0136",
        "type": "function",
        "z": "192589d78ea9942d",
        "name": "",
        "func": "var steps = flow.get('steps') || 0;\nsteps=msg.payload;\nflow.set('steps',steps);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "15ea74a042d3aa67",
        "type": "function",
        "z": "192589d78ea9942d",
        "name": "",
        "func": "msg.payload = flow.get('steps') || 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1140,
        "y": 660,
        "wires": [
            [
                "16332113c7be818f"
            ]
        ]
    },
    {
        "id": "88a64b9e97783a51",
        "type": "ui_button",
        "z": "192589d78ea9942d",
        "name": "Dummy button",
        "group": "87da3e5f0e2d01a5",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 820,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "47d221aad504a04b",
        "type": "ui_button",
        "z": "192589d78ea9942d",
        "name": "Up",
        "group": "87da3e5f0e2d01a5",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-up fa-4x",
        "payload": "1000",
        "payloadType": "str",
        "topic": "/MCU/UP",
        "topicType": "msg",
        "x": 850,
        "y": 520,
        "wires": [
            [
                "15ea74a042d3aa67"
            ]
        ]
    },
    {
        "id": "b0db753fc2ccb84f",
        "type": "ui_button",
        "z": "192589d78ea9942d",
        "name": "Dummy button",
        "group": "87da3e5f0e2d01a5",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 820,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "2bfff4ad826d5b90",
        "type": "ui_button",
        "z": "192589d78ea9942d",
        "name": "Left",
        "group": "87da3e5f0e2d01a5",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-left fa-4x",
        "payload": "1000",
        "payloadType": "str",
        "topic": "/MCU/LEFT",
        "topicType": "msg",
        "x": 850,
        "y": 640,
        "wires": [
            [
                "15ea74a042d3aa67"
            ]
        ]
    },
    {
        "id": "649d6f5e39653fe2",
        "type": "ui_button",
        "z": "192589d78ea9942d",
        "name": "Picture",
        "group": "87da3e5f0e2d01a5",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-camera fa-4x",
        "payload": "picture",
        "payloadType": "str",
        "topic": "/MCU/ACTIONS",
        "topicType": "msg",
        "x": 1140,
        "y": 720,
        "wires": [
            [
                "16332113c7be818f"
            ]
        ]
    },
    {
        "id": "aae58bd9388d7f34",
        "type": "ui_button",
        "z": "192589d78ea9942d",
        "name": "Right",
        "group": "87da3e5f0e2d01a5",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-right fa-4x",
        "payload": "1000",
        "payloadType": "str",
        "topic": "/MCU/RIGHT",
        "topicType": "msg",
        "x": 850,
        "y": 700,
        "wires": [
            [
                "15ea74a042d3aa67"
            ]
        ]
    },
    {
        "id": "c583b917e89f61c6",
        "type": "ui_button",
        "z": "192589d78ea9942d",
        "name": "Dummy button",
        "group": "87da3e5f0e2d01a5",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 820,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "d76761d5156b0cfe",
        "type": "ui_button",
        "z": "192589d78ea9942d",
        "name": "Down",
        "group": "87da3e5f0e2d01a5",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-down fa-4x",
        "payload": "1000",
        "payloadType": "str",
        "topic": "/MCU/DOWN",
        "topicType": "msg",
        "x": 850,
        "y": 820,
        "wires": [
            [
                "15ea74a042d3aa67"
            ]
        ]
    },
    {
        "id": "29152fa993ccf906",
        "type": "ui_button",
        "z": "192589d78ea9942d",
        "name": "Dummy button",
        "group": "87da3e5f0e2d01a5",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 820,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "be54586e3bff2e8d",
        "type": "ui_button",
        "z": "517dfea4ee1a4558",
        "name": "",
        "group": "868697591eea6b1f",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Hier komen fotos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    }
]
